{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
    {% if medication %}
    <h1>Edit {{ medication.name }}</h1>
    {% else %}
    <h1>Add a New Prescription</h1>
    {% endif %}
    <img src="{% static 'images/open-cabinet.png' %}" alt="An open medication cabinet" />
</div>

<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}