{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/medications/medication-detail.css' %}" />
{% endblock %}
{% block content %}

<h1 id="label">Dosages</h1>
    <div class="medication-actions">
        <a href="{% url 'medication-update' medication.id %}" class="btn warn">Edit</a>
        <a href="{% url 'medication-delete' medication.id %}" class="btn danger">Delete</a>
    </div>
<section class="card-container">
    <div class="card">
        <img src="{% static 'images/pill-bottle.png' %}" alt="A medicine bottle" />
        <div class="centered">
            <h2 class="card-title">SPANN, JERRY</h2>
            <p>{{ medication.name }} {{ medication.strength }} TAB</p>
            <p>{{ medication.dosage_info }}</p>
            <p>{{ medication.usage}}</p>
            {% if medication.quantity > 10 %}
            <p class="remaining">Count {{ medication.quantity }}</p>
            {% else %}
            <p class="remaining">⚠️ Count {{ medication.quantity }}, Please Refill</p>
            {% endif %}
            <p>{{ medication.description }}</p>
            <p>May Refill {{ medication.refills }} X </p>
        </div>
    </div>
    
    <div class="card">
        <h3 class="title">Add a Dose</h3>
        <form action="{% url 'add-dosage' medication.id %}" method="post" class="subsection-content" autocomplete="off">
            {% csrf_token %}
            {{ dosage_form.as_p }}
            <button type="submit" class="btn submit">Take Medication</button>
        </form>
        <h3 class="title">Past Dosages</h3>
        <div='medication-details'>
            {% if medication.dosage_set.all.count %}
            <table>
                <thead>
                    <tr>
                        <th class="past-dose">Date</th>
                        <th class="past-dose">Dose</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dosage in medication.dosage_set.all %}
                    <tr>
                        <td class="past-dose">{{dosage.date}}</td>
                        <td class="past-dose">{{dosage.get_dose_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
        </div>
    </div>
    <div>
        <p>⚠️ You have not taken your {{medication.name}} today!</p>
    </div>
    {% endif %}
</section>
{% endblock %}