.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.card {
    position: relative;
}

.usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
}

.card>a {
    text-decoration: none;
    color: var(--text-color);
}

.card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
}

.card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}