.medication-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#label {
    text-align: center;
    font-size: 40px;
    color: blue;
}

.title {
    font-size: 30px;
    color: rgb(18, 113, 24);
}

.form {
    font-size: 20px;
}

.medication-img {
    width: 75%;
    max-width: 350px;
}

.remaining {
    font-size: 25px;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;

    margin: 75px;
}

.card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
}

.card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}

.medication-actions {
    margin-top: 20px;
    text-align: center;
}

.subsection-content {
    margin: 0 8px;
}

.subsection-title img {
    height: 42px;
    margin-left: 8px;
}

.subsection-title img:first-of-type {
    margin-left: 16px;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
    font-size: 20px;
}

.subsection-content input,
.subsection-content select {
    margin-left: 5px;
    padding: 3px;
}

.dosages h2 {
    font-size: 3.2rem;
    margin: 0;
}

.dosages h3 {
    font-size: var(--font-xl);
    margin: 10px 0;
}

.past-dose {
    font-size: 20px;
}

/* .subsection-content p,
.subsection-content input,
.subsection-content select {
    font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
    margin-left: 5px;
    padding: 3px;
} */

td {
    padding-right: 25px;
    margin-bottom: 20px;
}